@import "../App.scss";

.backdrop {
  img {
    opacity: 1;
    max-height: 80vh;
    width: 100%;
    object-fit: cover;
  }
}

.backbtn {
  margin-top: 1rem;
  position: sticky;
  position: -webkit-sticky;
  top: 10%;
  left: 92%;
  background-color: red;
  // right: 15px;
}

.title {
  margin: 0;
  color: $dark;
  font-weight: 700;
}

.content {
  margin: 1rem;
}
