@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $dark;

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background: lightgrey;
  }
  ::-webkit-scrollbar-thumb {
    background: $dark;
    border-radius: 5px;
  }
}

p {
  margin: 0;
  padding: 0;
}

input[type="text"] {
  border-color: $secondary;
  &:focus {
    appearance: none;
    box-shadow: none;
    border-color: $secondary;
  }
}

input[type="number"] {
  border-color: $secondary;
  &:focus {
    appearance: none;
    box-shadow: none;
    border-color: $secondary;
  }
}

input[list]::-webkit-calendar-picker-indicator {
  display: none;
}

.page-item {
  .page-link {
    border-color: lightgray;
    color: $secondary;
    transition: all 0.3s;
    &:hover {
      border-color: lightgray;
      background-color: lightgray;
      color: white;
    }
    &:focus {
      box-shadow: none;
    }
  }

  &.active {
    .page-link {
      border-color: $secondary;
      background-color: $secondary;
      color: white;
    }
  }

  &.disabled {
    .page-link {
      border-color: lightgray;
      // background-color: lightgray;
      color: lightgray;
    }
  }
}
